html
  head
  body
    form(action="/bet" method="POST")
      p Bet gamer1:
        input(type="text" name="betGamer1" placeholder="Enter the id ")
      p Bet gamer2:
        input(type="text" name="betGamer1" placeholder="Enter the id ")
      p Bet gamer3:
        input( type="text" name="betGamer3" placeholder="Enter the gamer ")     
      input(type="submit")